body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
div.home {
  padding: 10px 0 20px 0;
  background-color: #E6E6FA;
}
div.button{
  text-align: center;
}
div.window{
  padding: 25px 0 35px 0;
  background-color: #E6E6FA;
  text-align: justify;
}
div.rules{
  margin: 0 auto;
  width: 20em;
}
h1 {
  font-size: 3em;
  font-weight: 100;
  margin-top: 20px;
  text-align: center;
  letter-spacing: -1px;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}
h3{
  font-size: 2.5em;
  font-weight: 90;
  margin-top: 20px;
  text-align: center;
}
h5 {
  text-align: center;
}
input[type=text]{
    display: block;
    margin: auto;
    border: 1px solid #818181;
    padding: 5px;
    text-align: center;
}
input[type=submit]{
  width: 10%;
}
select[class=drop]{
    overflow: hidden;
}
table[id=table]{
    border-spacing: 5px;
}
th, td {
    padding: 25px;
    border: 0.5px solid black;
    width: 250px;
}
